p {
    font-family: sans-serif;
}

img {
    max-width: 300px;
}

h1, h2 {
    font-family: fantasy;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 3px;
    color: rgb(255, 255, 255)
}

h1:hover, h2:hover {
    background-color: rgb(205, 199, 255);
}
#header {
    font-family: serif;
}
.m_right {
    float:right
}
.m_active{
    background-color:#EEEEEE
}
.m_right a:hover{
    background-color: rgb(155, 255, 255);
}
body{
    background-color: rgb(30, 108, 147)
}

li {
	float:left;border-right:1px solid #000000;border-left:1px solid #000000;border-top:1px solid #000000;border-bottom:1px solid #000000
}
li a {
	display:block;color:#999999;text-align:center;padding:14px 16px;text-decoration:none
}
.fixed-nav-bar { 
	position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px; background-color: #000000; 
}